/* Colors */

$white:        #FFFFFF !default;
$black:        #333333 !default;
$light-gray:   #DDDDDD !default;

$yellow:       #FED317 !default;
$blue:         #394FA2 !default;
$gray:         #71757B !default;
$brown:        #A19559 !default;
$beige:        #CEB339 !default;
$red:          #D33037 !default;

/* Brand */

$primary: $blue !default;
$secondary: $yellow !default;
$dark: $black !default;
$light: $white !default;

/* Responsiveness */

$tablet: 769px !default
$desktop: 1000px !default
$widescreen: 1192px !default
$fullhd: 1384px !default


/* Fonts */

$lh-condensed-ultra: 1 !default;
$lh-default: 1.2 !default;

/* Body */

$body-background-color: $white;
$body-color: $dark;
$body-font: "Montserrat", BlinkMacSystemFont, "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$body-font-size: 18px !default;
$body-line-height: $lh-default !default;
